<table class="table table-hover table-striped my-3">
    <thead>
        <tr>
            <th>Producto</th>
            <th class="text-center">Cantidad</th>
            <th class="text-center">Precio</th>            
            <th class="text-center">Total</th>
            <th class="text-center">Eliminar</th>
        </tr>
    </thead>
    <tbody>
        @for (item of items; track $index){
            <tr>
                <td>{{item.product.name}}</td>                
                <td class="text-center">{{item.quantity}}</td>
                <td class="text-center">{{item.product.price}}</td>
                <td class="text-center">{{item.product.price * item.quantity}}</td>
                <td class="text-center"><button class="btn btn-danger btn-sm" (click)="onDeleteCart(item.product.id)">X</button></td>
            </tr>
        }
    </tbody>
    <tfoot class="">
        <tr>
            <td colspan="4" class="text-end fw-bold"><h4>Total:</h4></td>
            <td colspan="1" class="text-start fw-bold"><h4>{{total}}</h4></td>
        </tr>       
    </tfoot>
</table>

